<html>
<%- include _header.ejs %>

  <body>
    <div class="container">

      <%- include _nav.ejs %>

      <%- include _chat_view.ejs %>

    </div>

    <div id="sticky-footer">

      <%- include _chat_form.ejs %>

      <%- include _footer.ejs %>

    </div>

  </body>

</html>
